h1{
    text-align: center;
}
button{
    width: 7vw;
    height: 7vw;
    font-family:'Trebuchet MS';
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    border: 2px solid rgb(200 200 0 / 0.6);
    color: rgb(100 0 0 / 1);
    box-shadow: 1px 1px 2px rgb(0 0 200 / 0.4);
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}
#roundedDivider {  
    border-top: 8px solid #bbb;
    border-radius: 5px;
}
#resetButton{
    width: 14vw;
    height: 7vw;
    font-family:'Trebuchet MS';
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    border: 2px solid rgb(200 200 0 / 0.6);
    color: rgb(100 0 0 / 1);
    box-shadow: 1px 1px 2px rgb(0 0 200 / 0.4);
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}

#row2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 28.4%; */
}
#row3{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 28.4%; */
}
#row4{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 28.4%; */
}
#row5{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 28.4%; */
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 28.4%; */
}
#row7{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 28.4%; */
}